.about-me-wrapper {
  background: url("../assets/Background.png") #526863;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 5rem 0 5rem 0;
}

@media (max-width: 584px) {
  .about-me-wrapper {
    background-image: none;
  }
}

@media (min-width: 992px) {
  .about-me-wrapper {
    background-image: url(../assets/BackgroundLarge.png);
  }
}

.about-me-description {
  margin: 0 8rem 0 8rem;
}

.skill-card {
  width: 30rem;
  background-color: #f9efef !important;
}

.card-logo {
  background-color: #8e78a1;
  width: 4.5rem;
  border-radius: 50%;
}

.card-header {
  background-color: transparent !important;
}

.skill-icon {
  margin-right: 0.5rem;
}
