.header-logo {
  width: 150px;
}

.header-links {
  font-family: "Bangers";
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #192a3d;
  cursor: pointer;
}

.header-links:hover {
  text-decoration: underline;
}
