.header-logo {
  width: 100px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.header-links {
  font-family: "Bangers";
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #192a3d;
  cursor: pointer;
}

.header-links:hover {
  text-decoration: underline;
}
