.intro-wrapper {
  height: 36rem;
  overflow: -moz-hidden-unscrollable;
}

.intro-description {
  height: 30rem;
}

.intro-title {
  font-size: 5rem;
}

.icon {
  color: #8e78a1;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.intro-img {
  position: absolute;
  left: 0;
  top: 0;
  animation: tiltAnimation 3s infinite alternate;
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

button {
  background: none;
  border: none;
}

@media (max-width: 662px) {
  .intro-img {
    width: 180%;
    left: -5.2rem !important;
    margin-top: -5rem;
  }

  .intro-wrapper {
    height: 50rem !important;
  }

  .intro-title {
    font-size: 3.5rem;
    margin-top: -5rem;
  }
}

@media (max-width: 991px) {
  .intro-wrapper {
    height: 65rem;
  }

  .intro-img {
    left: -9.5rem;
  }
}
