.projects-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.projects-row.even .project-image {
  order: 1;
}

.projects-row.even .project-details {
  order: 2;
  position: relative;
  right: 6rem;
}

.projects-row.odd .project-img {
  order: 2;
}

.projects-row.odd .project-details {
  order: 1;
  text-align: end;
  position: relative;
  left: 6rem;
}

.project-img {
  width: 100%;
  max-width: 400px;
}

.project-details {
  width: 100%;
}

.project-card {
  margin-top: 7.5rem;
  min-height: 15rem;
  background-color: hsla(0, 0%, 100%, 0.6) !important;
  border: none !important;
}

.projects-title {
  font-size: 3.5rem;
}

.project-title {
  border-bottom: none !important;
}

.icon {
  margin-right: 0.5rem;
}

.visit-btn {
  color: #8e78a1 !important;
}

.visit-btn:hover {
  text-decoration: underline;
}
